<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA9B2B801E37369200981ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9B2B971E37369200981ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA9B2BA21E37369200981ED0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
